.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

/android/key.properties
android/app/google-services.json
ios/GoogleService-Info.plist
ios/GoogleService-Info.plist

android/app/google-services.json
